
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
margin-left: 14%;
margin-right: 14%;
background-color: #f7e1cf;
border-radius: 15px;
padding : 10px;
}

p{
  padding-left: 7%;
  padding-right: 7%;
}

ol {
  padding-left: 9%;
  padding-right: 7%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1000px) { 

  p{
    padding-left: 0%;
    padding-right: 0%;
  }

}


@media (max-width: 1000px) { 

  p{
    padding-left: 0%;
    padding-right: 0%;
  }

  section {
    margin-left: 7%;
    margin-right: 7%;

    }

}



@media (max-width: 767px) { 

  p{
    padding-left: 0%;
    padding-right: 0%;
  }

  section {
    margin-left: 0%;
    margin-right: 0%;
    }


    ol {
      padding-left: 2%;
      padding-right: 1%;
    }
    iframe{
      width: 100%;

    } 
    

}


